<!-- sidebar menu: : style can be found in sidebar.less -->
<ul class="sidebar-menu" data-widget="tree">
  <li class="header">MAIN NAVIGATION </li>

  <li>
      <a href="{{ site_url('adm/dashboard') }}">
        <i class="fa fa-dashboard"></i>
        <span>Dashboard</span>
      </a>
  </li>

  <li>
      <a href="{{ site_url('adm/Lowongan') }}">
        <i class="fa fa-handshake-o" aria-hidden="true"></i>
        <span>Lowongan</span>
      </a>
  </li>

  <li>
      <a href="{{ site_url('adm/Lamaran') }}">
        <i class="fa fa-address-card-o" aria-hidden="true"></i>
        <span>Lamaran</span>
      </a>
  </li>

  <li>
      <a href="{{ site_url('adm/Admin') }}">
        <i class="fa fa-user-o" aria-hidden="true"></i>
        <span>Admin</span>
      </a>
  </li>

  <li>
      <a href="{{ site_url('adm/Seleksi') }}">
        <i class="fa fa-address-card" aria-hidden="true"></i>
        <span>Seleksi</span>
      </a>
  </li>
 <!--  <li class="treeview">
      <a href="#">
        <i class="fa fa-th"></i>
        <span>Master</span>
        <span class="pull-right-container">
          <i class="fa fa-angle-left pull-right"></i>
        </span>
      </a>

      <ul class="treeview-menu">
        <li>
          <a href="{{ site_url('adm/Master/Karyawan/Karyawan') }}">
             <span>Karyawan</span>
          </a>
        </li>     
         <li>
          <a href="{{ site_url('adm/Master/Barang') }}">
            <span>Barang</span>
          </a>
        </li>
      </ul>
  </li>

  <li>
        <a href="{{ site_url('adm/Penilaian') }}">
          <i class="fa fa-book"></i>
          <span>Pembelian</span>
        </a>
  </li> -->



</ul>
</section>
<!-- /.sidebar -->
